body {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 1440px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  height: 840px;
  width: 1440px;
  background: #131313;
}

.header a {
  text-decoration: none;
}

.header .scroll-down-btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  top: -35px;
  margin-left: 0%;
  z-index: 11;
}

.header .scroll-down-btn .scroll-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #131313;
  border: none;
}

.header .scroll-down-btn .scroll-down p {
  padding: 20px 10px 20px 30px;
  margin: 0 5px;
  text-transform: uppercase;
  color: #fff;
}

.header .scroll-down-btn .scroll-down img {
  padding: 0 20px 0 0;
}

.header .scroll-down:hover {
  background: #E3B873;
  cursor: pointer;
}

.navigation {
  background-color: #131313;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 70px;
  margin-left: 5.7%;
  width: 94.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation .logo-block {
  margin-left: 15px;
  color: #E3B873;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: left;
}

.navigation ul {
  padding: 0;
  margin: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation ul li {
  list-style: none;
  text-transform: uppercase;
  font-size: 14px;
}

.navigation ul li a {
  text-decoration: none;
  color: #ffffff;
}

.navigation ul li:hover a {
  color: #E3B873;
}

.navigation-block__tel {
  color: #E3B873;
  font-size: 14px;
  font-weight: bold;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}

.navigation-block__button {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  text-align: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navigation-block__button .nav-btn {
  height: 30px;
  text-transform: uppercase;
  font-size: 12px;
  color: white;
  padding: 0 20px;
  border: none;
  border-radius: 2px;
  background-color: #E3B873;
}

.navigation-block__button .nav-btn:hover {
  background-color: #e0d0b7;
  cursor: pointer;
}

.main-content {
  width: 94.3%;
  margin-left: 5.7%;
  height: 710px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("./assets/img/bg-header.png") no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./assets/img/bg-header.png") no-repeat;
  background-size: cover;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-content__text {
  position: relative;
  margin-left: 110px;
  width: 45%;
  color: #fff;
  top: 20%;
}

.main-content__text h1 {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
}

.main-content__text h1 span {
  color: #E3B873;
}

.main-content__text p {
  font-family: FuturaBookC;
  font-size: 22px;
  line-height: 30px;
}

.main-content__buttons {
  margin-top: 20px;
}

.main-content__buttons a {
  text-decoration: none;
}

.main-content__buttons .cost {
  height: 40px;
  text-transform: uppercase;
  font-size: 12px;
  color: white;
  padding: 0 20px;
  border: none;
  border-radius: 2px;
  background-color: #E3B873;
}

.main-content__buttons .cost:hover {
  cursor: pointer;
  background-color: #e4c799;
}

.main-content__buttons .sumbit {
  height: 40px;
  text-transform: uppercase;
  font-size: 12px;
  color: white;
  padding: 0 20px;
  border: 2px solid white;
  border-radius: 2px;
  background-color: inherit;
}

.main-content__buttons .sumbit:hover {
  cursor: pointer;
  background-color: grey;
}

.sidebar {
  position: relative;
  top: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  width: 5.7%;
  height: 100%;
  background: #131313;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sidebar p {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  top: 300px;
  font-family: FuturaDemiC;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #E3B873;
  text-transform: uppercase;
  font-weight: bold;
}

.sidebar img {
  color: #fff;
  position: relative;
  top: 360px;
  left: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  width: 1440px;
  background: #131313;
  padding-top: 50px;
}

.main-navbar {
  margin-left: 5.7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-navbar ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-navbar ul li {
  padding: 10px 30px;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  list-style: none;
}

.main-navbar ul .active {
  color: #E3B873;
}

.main-navbar ul a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.3);
}

.main-navbar ul a:hover {
  color: #E3B873;
}

.main .left-header {
  margin-left: 5.7%;
  width: 38%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main .left-header h2 {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  color: #E3B873;
}

.main .left-header p {
  font-family: FuturaBookC;
  font-size: 18px;
  line-height: 29px;
  color: #FFFFFF;
  display: inline-block;
  margin-bottom: 20px;
}

.main-projects {
  margin-left: 5.7%;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 50px;
}

.main-projects-left {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.main-projects-left .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  padding: 30px 0;
}

.main-projects-left .row .left-side {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.main-projects-left .row .right-side {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.main-projects-right {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  overflow: hidden;
}

.main-projects p {
  font-family: FuturaBookC;
  font-size: 18px;
  line-height: 29px;
  color: #FFFFFF;
  display: inline-block;
  margin-bottom: 20px;
}

.main-projects h3 {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #E3B873;
}

.main .swiper-slide {
  padding-bottom: 50px;
}

.main .swiper-pagination-bullet {
  background: white;
  top: -50px;
}

.main .swiper-button-prev {
  color: white;
  top: 94%;
  left: 30%;
}

.main .swiper-button-next {
  color: white;
  top: 94%;
  right: 30%;
  background-size: cover;
}

.slider-btn-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 5%;
  background-size: cover;
  border: none;
  background-color: #E3B873;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.slider-btn-next img {
  width: 50%;
}

.slider-btn-prev {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 5%;
  z-index: 1;
  background-size: cover;
  border: none;
  background-color: #E3B873;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.slider-btn-prev img {
  width: 50%;
}

.online-control {
  margin: 0 auto;
  height: 1200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.online-control .header {
  height: 400px;
  border: 2px solid #131313;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.online-control .header h2 {
  padding: 50px 0 10px;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.online-control .header .pictures {
  text-align: center;
  height: 50px;
  line-height: 50px;
}

.online-control .header .pictures .camera {
  position: relative;
  top: 0;
  padding: 0 10px;
}

.online-control .header .video-block {
  text-align: center;
  padding-top: 25px;
}

.online-control .header .text-info {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.online-control .header .text-info p {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  font-family: FuturaBookC;
  font-size: 20px;
  line-height: 34px;
  text-align: center;
  color: #363636;
  padding-bottom: 100px;
}

.online-control .submit-btn {
  height: 40px;
  text-transform: uppercase;
  color: white;
  padding: 0 50px;
  border: none;
  border-radius: 2px;
  background-color: #E3B873;
  font-family: FuturaDemiC;
  font-size: 15px;
  line-height: 40px;
  text-align: center;
}

.online-control .submit-btn:hover {
  cursor: pointer;
  background-color: #ddc6a2;
}

.checkbox {
  padding: 10px 0 10px 10px;
}

.check-box {
  padding: 10px 0 10px 10px;
}

.check-box label {
  position: relative;
  font-size: 16px;
  top: -5px;
  left: 5px;
  font-family: FuturaBookC;
}

input[type="checkbox"] {
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  background: lightgray;
  border: 1px solid white;
  height: 20px;
  width: 22px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type="checkbox"]:checked {
  background: #E3B873;
}

input[type="checkbox"]:hover {
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}

input[type="checkbox"]:after {
  content: '';
  position: relative;
  left: -6px;
  top: -9px;
  width: 12px;
  height: 12px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  display: none;
}

input[type="checkbox"]:checked:after {
  display: block;
}

input[type="checkbox"]:disabled:after {
  border-color: #7b7b7b;
}

.w3-row-padding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 30px 0 10px 10px;
}

.w3-third {
  padding-top: 50px;
  width: 290px;
}

.w3-third .w3-input {
  border-bottom: 1px solid grey;
}

.w3-third label {
  color: grey;
  position: relative;
  left: 5px;
  font-family: FuturaBookC;
  font-size: 18px;
}

.w3-last {
  text-align: center;
  width: 180px;
}

.repair-types {
  text-align: center;
  background: #f1f1f1;
}

.repair-types .pictures {
  padding-bottom: 50px;
}

.repair-types h2 {
  padding-top: 30px;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #181818;
}

.repair-types-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.repair-types-content__box {
  text-align: left;
}

.repair-types-content .box {
  width: 86%;
  position: relative;
  top: -128px;
  margin: 0 auto;
  background: #fff;
}

.repair-types-content .box h3 {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #363636;
  padding-top: 15px;
}

.repair-types-content .box .text {
  padding: 0 0 25px 25px;
  font-family: FuturaBookC;
  font-size: 15px;
  line-height: 25px;
  color: #959595;
}

.repair-types-content .box .price-btn {
  position: relative;
  top: 25px;
  height: 50px;
  color: white;
  padding: 0 20px;
  border: none;
  border-radius: 2px;
  background-color: #E3B873;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 50px;
  text-transform: uppercase;
}

.repair-types-content .box .price-btn:hover {
  cursor: pointer;
  background-color: #dbc196;
}

.repair-types-content__box img {
  width: 100%;
}

.leave-request .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 650px;
}

.leave-request .row .left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  background: url("./assets/img/bg-live-request.jpg") left no-repeat;
  background-size: contain;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.leave-request .row .left-side .circle {
  position: absolute;
  top: 0;
  left: -40%;
  height: 114%;
  width: 100%;
  border: 2px solid orange;
  border-radius: 50%;
  border-top-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  overflow: hidden;
}

.leave-request .row .left-side ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  text-align: right;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.leave-request .row .left-side .one, .leave-request .row .left-side .two, .leave-request .row .left-side .three, .leave-request .row .left-side .four {
  position: relative;
  display: inline-block;
  height: 70px;
  width: 70px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  background: #E3B873;
  border: 15px solid #fff;
  z-index: 3;
  text-align: center;
  vertical-align: top;
  line-height: 45px;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #fff;
}

.leave-request .row .left-side .one, .leave-request .row .left-side .two, .leave-request .row .left-side .three, .leave-request .row .left-side .four {
  vertical-align: middle;
}

.leave-request .row .left-side .one-content, .leave-request .row .left-side .two-content, .leave-request .row .left-side .three-content, .leave-request .row .left-side .four-content {
  padding-left: 10px;
  display: inline-block;
  text-align: left;
  position: relative;
  font-family: FuturaMediumC;
  font-size: 18px;
  line-height: 21px;
  color: #363636;
}

.leave-request .row .left-side .one-content {
  max-width: 55%;
}

.leave-request .row .left-side .two-content {
  width: 39%;
}

.leave-request .row .left-side .three-content {
  width: 36%;
}

.leave-request .row .left-side .four-content {
  width: 43%;
}

.leave-request .row .right-side {
  font-family: FuturaBookC;
  font-size: 15px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.leave-request .row .right-side h3 {
  font-family: FuturaDemiC;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  padding: 15px 0 25px;
}

.leave-request .row .right-side input[type=text] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: #131313;
  color: #ffffff;
}

.leave-request .row .right-side ::-webkit-input-placeholder {
  color: #ffffff;
}

.leave-request .row .right-side input[type=submit] {
  background-color: #E3B873;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.leave-request .row .right-side input[type=submit]:hover {
  background-color: #dfc396;
}

.leave-request .row .right-side .container {
  border-radius: 5px;
  background-color: #131313;
  padding: 30px 50px 50px 50px;
}

.leave-request .row .right-side .btn-form {
  text-align: center;
  width: 50%;
  right: -50%;
  position: relative;
  text-transform: uppercase;
  font-family: FuturaDemiC;
  font-size: 13px;
  line-height: 18px;
}

.leave-request .row .right-side .check-box {
  display: block;
}

.leave-request .row .right-side .content {
  text-align: center;
  padding-top: 15px;
}

.leave-request .row .right-side .content p {
  display: inline-block;
  text-align: left;
  font-family: FuturaDemiC;
  font-size: 20px;
  color: #E3B873;
  text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}

.fantasies {
  height: 1020px;
}

.fantasies-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 100px;
  top: 10%;
  height: 80%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("./assets/img/bg-fantasies.png") center no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("./assets/img/bg-fantasies.png") center no-repeat;
  background-size: cover;
}

.fantasies .left-side {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.fantasies .left-side h2 {
  padding: 0 90px 50px;
  text-align: left;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #E3B873;
}

.fantasies .left-side ul {
  padding: 0 90px;
  font-family: Proxima Nova;
  font-size: 20px;
  line-height: 34px;
  color: #FFFFFF;
}

.fantasies .left-side li a {
  text-decoration: none;
}

.fantasies .left-side .selected {
  color: #E3B873;
  text-decoration: underline;
}

.fantasies .right-side {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.fantasies .right-side .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.fantasies .right-side .content img {
  width: 90%;
  padding: 25px 0px;
}

.fantasies .right-side .content-left-slider {
  top: -50px;
  position: relative;
}

.fantasies .right-side .content-right {
  top: -100px;
  position: relative;
}

.fantasies__slider-btn-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 5%;
  background-size: cover;
  border: none;
  background-color: #E3B873;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.fantasies__slider-btn-next img {
  width: 50%;
  height: 50%;
}

.fantasies__slider-btn-prev {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 5%;
  z-index: 1;
  background-size: cover;
  border: none;
  background-color: #E3B873;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.fantasies__slider-btn-prev img {
  width: 50%;
  height: 50%;
}

.mobile-view {
  display: none;
}

.design-project {
  text-align: center;
  background: #181818;
  height: 1100px;
}

.design-project__text {
  font-family: FuturaBookC;
  font-size: 15px;
  line-height: 135.84%;
  margin: 0 auto;
  padding: 20px 0;
  color: #000000;
  width: 50%;
}

.design-project .header {
  height: 500px;
  background: #ffffff;
  position: relative;
  height: 100%;
}

.design-project .pictures {
  padding-bottom: 50px;
}

.design-project h2 {
  padding-top: 30px;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #181818;
}

.design-project-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.design-project-content__box {
  text-align: left;
}

.design-project-content .box {
  width: 86%;
  position: relative;
  top: -128px;
  margin: 0 auto;
  background: #fff;
}

.design-project-content .box h3 {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #363636;
  padding-top: 15px;
}

.design-project-content .box .text {
  padding: 0 0 25px 25px;
  font-family: FuturaBookC;
  font-size: 15px;
  line-height: 25px;
  color: #959595;
}

.design-project-content .box .price-btn {
  position: relative;
  top: 25px;
  height: 50px;
  color: white;
  padding: 0 20px;
  border: none;
  border-radius: 2px;
  background-color: #E3B873;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 50px;
  text-transform: uppercase;
}

.design-project-content .box .price-btn:hover {
  cursor: pointer;
  background-color: #dbc196;
}

.design-project-content__box img {
  width: 100%;
}

.how-we-working {
  display: none;
}

.our-team {
  text-align: center;
  height: 1100px;
}

.our-team .header {
  background: #181818;
  position: relative;
  height: 500px;
}

.our-team h2 {
  font-family: FuturaBookC;
  font-size: 25px;
  margin: 0 auto;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  padding: 50px 0 20px;
}

.our-team p {
  font-family: FuturaBookC;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
  padding: 20px 0 50px;
}

.our-team-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.our-team-content__box {
  position: relative;
  text-align: center;
  margin-top: 50px;
}

.our-team-content__box img {
  min-height: 390px;
}

.our-team-content__box .pro, .our-team-content__box .pro1, .our-team-content__box .pro2 {
  position: absolute;
  width: 70px;
  height: 70px;
  top: -35px;
  left: -35px;
}

.our-team-content__box .pro {
  background: #E3B873 url("./assets/img/team1-1.svg") center no-repeat;
}

.our-team-content__box .pro1 {
  background: #E3B873 url("./assets/img/team2-1.svg") center no-repeat;
}

.our-team-content__box .pro2 {
  background: #E3B873 url("./assets/img/team3-1.svg") center no-repeat;
}

.our-team-content .box {
  width: 86%;
  position: relative;
  top: -50px;
  margin: 0 auto;
  background: #fff;
}

.our-team-content .box h3 {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #363636;
  padding-top: 20px;
}

.our-team-content .box .text {
  font-family: FuturaBookC;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #959595;
}

.our-team-content .box .price-btn {
  position: relative;
  top: 25px;
  width: 100%;
  height: 50px;
  color: white;
  padding: 0 20px;
  border: none;
  border-radius: 2px;
  background-color: #E3B873;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  font-family: Yeseva One;
}

.our-team-content .box .price-btn:hover {
  cursor: pointer;
  background-color: #dbc196;
}

.our-team .pictures {
  padding: 40px 0 0;
}

.our-team .text-info p {
  width: 50%;
  margin: 0 auto;
  font-family: FuturaBookC;
  font-size: 20px;
  line-height: 34px;
  text-align: center;
  color: #363636;
}

.our-clients {
  text-align: center;
  height: 1200px;
  background: #f1f1f1;
  position: relative;
}

.our-clients__text {
  font-family: FuturaBookC;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #363636;
  padding-top: 30px;
}

.our-clients .bg-down {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  width: 50%;
}

.our-clients .header {
  background: #f1f1f1;
  position: relative;
  height: 500px;
  z-index: 10;
}

.our-clients h2 {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #181818;
  padding: 50px 0 20px;
}

.our-clients-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.our-clients-content__box {
  background: #FFFFFF;
  padding: 15px;
  position: relative;
  text-align: left;
  margin-top: 50px;
  -ms-flex-preferred-size: calc(80%/3);
      flex-basis: calc(80%/3);
}

.our-clients-content__box p {
  font-family: FuturaBookC;
  font-size: 15px;
  line-height: 180%;
  /* or 27px */
  color: #959595;
  padding: 20px 0;
}

.our-clients-content__box .name {
  display: inline-block;
  width: 100%;
  text-align: left;
}

.our-clients-content__box .name .client1 {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.our-clients-content__box .name .client1 img {
  width: 70px;
  height: 70px;
}

.our-clients-content__box .name .text {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.our-clients-content__box .name .text h3 {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #181818;
}

.our-clients-content__box .buttons {
  width: 100%;
  text-align: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.our-clients-content__box .buttons .price-btn {
  color: #ffffff;
  text-transform: uppercase;
  display: inline-block;
  width: calc(80%/2);
  text-align: center;
}

.our-clients-content__box .buttons .price-btn:hover {
  background-color: #d8c099;
  cursor: pointer;
}

.our-clients-content__box .buttons .btn-left {
  background: #E3B873 url("./assets/img/btn-left.svg") 15px center no-repeat;
  background-size: 20%;
  padding-left: 40px;
  height: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.our-clients-content__box .buttons .btn-right {
  background: #E3B873 url("./assets/img/btn-right.svg") 15px center no-repeat;
  background-size: 20%;
  padding-left: 40px;
  height: 60px;
}

.contacts-section {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("./assets/img/bg-contacts.png") center no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("./assets/img/bg-contacts.png") center no-repeat;
  background-size: cover;
}

.contacts-section h2 {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #E3B873;
  padding: 350px 0 0;
}

.contacts-section .img-block {
  text-align: center;
  padding: 20px 0 30px;
}

.contacts-section .map {
  display: block;
  margin: 0 auto;
  top: 0;
  padding-bottom: 50px;
  width: 70%;
}

.contacts-section .adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts-section .request-form {
  width: 40%;
  height: 580px;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.contacts-section .request-form .center-part {
  font-family: FuturaBookC;
  font-size: 15px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);
}

.contacts-section .request-form .center-part h3 {
  font-family: FuturaDemiC;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  padding: 15px 0 25px;
  text-transform: uppercase;
}

.contacts-section .request-form .center-part input[type=text] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: #131313;
  color: #ffffff;
}

.contacts-section .request-form .center-part ::-webkit-input-placeholder {
  color: #ffffff;
}

.contacts-section .request-form .center-part input[type=submit] {
  background-color: #E3B873;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contacts-section .request-form .center-part input[type=submit]:hover {
  background-color: #dfc396;
}

.contacts-section .request-form .center-part .container {
  border-radius: 5px;
  background-color: #131313;
  padding: 30px 50px 50px 50px;
}

.contacts-section .request-form .center-part input.btn-form {
  width: 30%;
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
  font-family: FuturaDemiC;
  font-size: 13px;
  line-height: 18px;
}

.contacts-section .request-form .center-part .check-box {
  display: block;
  padding: 40px 0;
  text-align: center;
}

footer .navigation {
  width: 100%;
  margin: 0 auto;
  padding-left: 5.7%;
}

@media (max-width: 1440px) {
  .wrapper, .header, .main {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .main-content__text h1 {
    font-size: 33px;
    line-height: 132%;
  }
}

@media (max-width: 992px) {
  .navigation {
    width: 100%;
    margin: 0;
  }
  .navigation ul {
    display: none;
  }
  .navigation-block__button {
    display: none;
  }
  .navigation .logo-block {
    margin-left: 20px;
    text-align: left;
  }
  .fantasies .right-side {
    display: none;
  }
  .fantasies .left-side {
    width: 100%;
  }
  .fantasies ul {
    display: none;
  }
  .mobile-view {
    display: block;
  }
  .mobile-view-slider {
    max-height: 50vh;
  }
  .mobile-view img {
    width: 100%;
    text-align: center;
  }
  .main-projects-left {
    display: none;
  }
  .header .sidebar {
    display: none;
  }
  .header .scroll-down-btn {
    display: none;
  }
  .main .left-header {
    width: 90%;
    text-align: center;
  }
  .main-projects-right {
    width: 100%;
    -ms-flex-preferred-size: 95%;
        flex-basis: 95%;
    margin-left: 0;
  }
  .main-navbar {
    display: none;
  }
  .main-content {
    background-position: center;
    width: 100%;
    margin: 0;
  }
  .main-content__text {
    width: 80%;
    margin: 0 auto;
    font-size: 12px;
  }
  .main-content__text h1 {
    font-size: 24px;
    line-height: 132%;
  }
  .main-content__text p {
    font-size: 18px;
    line-height: 135%;
  }
  .main-content__buttons .cost {
    display: block;
    width: 100%;
    margin: 50px 0 20px;
  }
  .main-content__buttons .sumbit {
    display: block;
    width: 100%;
  }
  .text-info p {
    margin: 0;
    width: 100%;
  }
  video {
    width: 100%;
    height: auto;
    max-height: 100%;
  }
  .online-control {
    background: #131313;
  }
  .online-control .submit-btn {
    width: 100%;
    position: relative;
    top: 25px;
  }
  .online-control .header .text-info {
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .online-control .header .text-info p {
    color: white;
    font-size: 14px;
    line-height: 169.8%;
  }
  .w3-row-padding {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .w3-third {
    width: 100%;
  }
  .check-box {
    width: 100%;
  }
  .check-box label {
    color: white;
    font-size: 16px;
  }
  .repair-types-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .leave-request {
    display: none;
  }
  .repair-types-content .box {
    width: 75%;
    margin: 0;
  }
  .fantasies {
    height: 100%;
    overflow: hidden;
  }
  .fantasies-background {
    margin-top: 0;
    background: #ffffff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .fantasies .left-side h2 {
    text-align: center;
    color: #E3B873;
    font-size: 16px;
    line-height: 30px;
    padding-bottom: 10px;
  }
  .design-project {
    text-align: center;
    height: 100%;
    background: #181818;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid #181818;
  }
  .design-project-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #181818;
  }
  .design-project .header {
    background: #181818;
  }
  .design-project h2 {
    color: #fff;
  }
  .design-project__text {
    color: #ffffff;
    width: 100%;
  }
  .design-project-content .box {
    width: 75%;
    margin: 0;
  }
  .our-team {
    background: #181818;
    height: 100%;
  }
  .our-team .header {
    height: 100%;
  }
  .our-team-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
  .our-team-content__box {
    -ms-flex-item-align: end;
        align-self: flex-end;
    width: 80%;
  }
  .our-team-content__box img {
    width: 100%;
  }
  .our-team-content__box .box {
    width: 80%;
  }
  .our-team .text-info {
    display: none;
  }
  .our-clients {
    display: none;
  }
  .contacts-section .adress {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .contacts-section .adress .map {
    padding: 20px 0;
    width: 100%;
  }
  .contacts-section h2 {
    padding-top: 20px;
  }
  .contacts-section .request-form {
    position: relative;
    width: 100%;
    left: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  footer {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */